<div class="fauxcolumn"></div>
	      <div class="primary">
	        <header>
                <h1>腾讯 ISUX 全称腾讯社交用户体验设计部 (Internet Social User Experience)，于2011年3月8日正式成立。
                </h1>
                <h1>
                    为了创造更好的互联网用户体验，我们一直在努力。
                </h1>
                <nav>
                    <ul class="tag-box inline">
                        <li>
                            <a href="/">首页</a>
                          </li>
                      {% assign categories_list = site.categories %}
                      {% include JB/categories_list %}
                    </ul>
                </nav>

	        </header>

	      </div><!-- .primary -->