<div class="fauxcolumn"></div>
	      <div class="primary">
	        <header>
	          <h1><a href="/">余果</a> 是一名前端工程师，在腾讯社交平台部做前端开发。平时喜欢看书，研究网站开发，iOS开发，数据可视化等。
	          </h1>
	          <nav>
	            <ul>
	              <li>
	                <a href="/">首页</a>
	              </li>
	              <li>
	                <a href="http://yuguo.us/categories.html">分类</a>
	              </li>
	              <li>
	                <a href="http://yuguo.us/about.html">关于我</a>
	              </li>
	            </ul>
	          </nav>

	        </header>

			<div class="ads">

	          <div class="fusionads">
	            <h2>项目</h2>

	            <span class="fusionentire">
	              <a href="http://33pu.net/" title="33号铺">
	                <img src="http://yuguo.us/files/2013/01/33pu-github.png" alt="33号铺" />
	              </a>
	              <span class="fusiontext">
	                <a href="http://33pu.net/" title="33号铺">
                        33号铺是一个简单好用的淘宝客瀑布流发布、管理系统。
	                </a>
	              </span>
	            </span>
	            <p><a href="http://33pu.net/" title="访问33号铺">http://33pu.net/</a></p>
	          </div><!-- .fusionads -->

                <div class="fusionads">
	            <h2>广告</h2>

	            <span class="fusionentire">
	              <a href="http://homemore.taobao.com/" title="访问Home&More淘宝店">
	                <img src="http://yuguo.us/files/2013/01/1.jpg" alt="Home&More淘宝店" />
	              </a>
	              <span class="fusiontext">
	                <a href="http://homemore.taobao.com/" title="访问Home&More淘宝店">
	                  Home&More淘宝店是一个还不错的家居淘宝店，余果的女朋友开的。

	                </a>
	              </span>
	            </span>
	            <p><a href="http://homemore.taobao.com/" title="访问Home&More淘宝店">homemore.taobao.com</a></p>
	          </div><!-- .fusionads -->

	        </div><!-- .ads -->

	      </div><!-- .primary -->