<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="all" />
　　<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<div class="blog">
	<div class="container group">
		{% include sidebar.html %}

        <div class="content single-post">
	      	<div class="content-inner">
	      	<h1>{{ page.title }}</h1>
	      	<span class="post-date">{{ page.date | date: "%Y年 %m月 %d日" }}</span>

	      	{{ content }}
	      	<p class='previous-next-nav'><a href="http://yuguo.us/{{page.next.url}}" class="next">{{page.next.title}} &rarr;</a>
	      	<a href="http://yuguo.us/{{page.previous.url}}" class="previous">&larr; {{page.previous.title}}</a>
	      	</p>
	      	
	      	
			{% include discus.html %}
	      	</div>
        </div>

	</div>

	{% include footer.html %}

</body>
</html>